body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-container {
  background-color: #efefef;
  width: 100vw;
  height: 9vh;
  display: flex;
  flex-direction: row;
}

.navbar-icon {
  height: 50px;
  float: left;
}

.search-input {
  margin-top: 10px;
  height: 30px;
  width: 30rem;
}
.search-button {
  margin-top: 10px;
  height: 30px;
  width: 2rem;
  background-color: #efefef;
  /* border: 0; */
}
.links {
  margin: 15px;
}
